// LEGEND: list of abbreviations used as name conventions//
// crls = carousel ; ft = features; pdcs = products; dsgn = design; 
// bnft = benefits; hdng = heading; ff = font-family; letsp = letter-spacing; 
// fs = font-size; pric = pricing

.carousel-inner {

  img {
    height: $img-inside-crls-width-height;
    width:  $img-inside-crls-width-height;
  }
}
.wrapper-carousel {
  @include pad(140px 0);
  background-color: $color-bg-clients-crls-form;
}
ol.carousel-indicators {
  bottom: -70px;

  li {
    @include border-radius(10px);
    @include marg(0 5px);
    background-color: $color-crls-indicators-form;
    border: none;
  }

  li.active {
    @include marg(0 5px);
  }
}
.carousel-controls {

  a.left.carousel-control {
  background-image: none;
  width: 0;

    span.icon-prev {
      @include marg(-35px 0 0 -20px);
      @include transitions(all 0.3s linear);
      font-size: $icons-crls-prev-next-fs;

      &:hover {
         @include transforms(translate(-10px, 0));
      }
    }
  }
}
.carousel-controls {

  a.right.carousel-control {
  background-image: none;
  width: 0;

    span.icon-next {
      @include marg(-35px -20px 0 0);
      @include transitions(all 0.3s linear);
      font-size: $icons-crls-prev-next-fs;

      &:hover {
         @include transforms(translate(10px, 0));
      }
    }
  }
}
.carousel-para-text {
  @include paragraphs($ff-opensans-regular, $para-crls-text-fs, 
  $color-font-btn-hdng-para-num, $para-crls-text-lh, null);
}
.carousel-para-name-and-company {
  @include paragraphs($ff-montserrat-bold, $para-text-name-user-review-fs, 
  $color-font-btn-hdng-para-num, $para-text-name-user-review-lh, 
  $para-text-name-user-review-letsp);
  @include marg(20px 0 0 0);

  span {
    color: $color-font-hdngs-sections;
  }
}