// LEGEND: list of abbreviations used as name conventions//
// crls = carousel ; ft = features; pdcs = products; dsgn = design; 
// bnft = benefits; hdng = heading; ff = font-family; letsp = letter-spacing; 
// fs = font-size

footer {
  @include pad(180px 0 200px 0);
  font-family: $ff-opensans-light;
  background-color: $color-bg-wrapper-footer;

  h6 {
    @include headings($ff-montserrat-bold, $hdng-h6-footer-fs, 
    $color-font-btn-hdng-para-num, $hdng-h6-footer-lh, $hdng-h6-footer-letsp);
    @include marg(20px 0);
  }
}
ul.list-unstyled {

  li {
    @include pad(5px 0);

    a {
      @include paragraphs(null, $para-links-footer-fs, $color-font-links-footer,
      $para-links-footer-fs, null);

      &:hover {
        color: $color-btns-font-awesome-pric-nums;
        text-decoration: underline;
      } 
    }
  }
}
.copyright {
  @include marg(20px 0);
  color: #fff;/**/
}
.copyright-text {
  @include marg(20px 0);
  color: #fff;/**/
}