//-- Adding new margins and paddings on different resolution to be consistent --//

// on lg screen place main-heading-and-text on center /*1*/
// on md and lg screen para below h2 in sections must be properly align /* 2 */
// on md and lg screen header img must be places correctly /*3*/
@media screen and (min-width: 992px) {
  .main-heading-and-info-text {
    margin-top: 45%; /*1*/
  }
  .sections-heading-and-intro-text {

    p {
      margin-right: 20.666667%; /* 2 */
    }
  }
  .iphones-over-header-img {
    bottom: -140px;/*3*/
  }
}

// on screens < lg place clients img properly aligned with img in header /*4*/
// on sm & xs screen place iphone white img correctly /*5*/
@media screen and (max-width: 991px) {
  .wrapper-clients-images-header {
    padding: 30px 0 40px 0; /*4*/
    
    // .images-clients {

    //   div {
    //     margin:0 0 2% 4%;  /*4*/
    //   } 
    // }
  }
  .style-img-design-section img.img-responsive {
    margin: 60px 0; /*5*/
  } 
}
@media screen and (min-width: 480px) and (max-width: 630px) {
  .wrapper-clients-images-header {
    padding: 30px 0 40px 0; /*4*/
    
    // .images-clients {

    //   div {
    //     margin:0 0 2% 2%;  /*4*/
    //   } 
    // }
  }
  .style-img-design-section img.img-responsive {
    margin: 60px 5px; /*5*/
  } 
}
// on lg screen place iphone white img and associate divs correctly /*6*/
// on lg screen width of input in form must be bigger /*7*/
@media screen and (min-width: 1200px) {
  .style-desc-text-icon-design-section {
    margin-top: 180px; /*6*/
  }
  .style-img-design-section img {
    margin-top: 100px; /*6*/
  }
  .form-inline .form-group .form-control  {
    width: 130%; /*7*/
  }
}
// on md screen place iphone white img and associate divs correctly /*8*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .wrapper-design-cols {
    margin-top: 100px; /*8*/
  }
}
// on xs screen font and line height inside carousel must be smaller /*9*/
// on xs screen img inside carousel must have smaller width and height /*10*/
// on xs screen h2 inside outline app must have smaller font and line-height /*11*/
// on xs screen para inside outline app must bre properly aligned /*12*/
// on xs screen main heading (h1) must have smaller font and line-height /*13*/
// on xs screen headings section (h2) must have smaller font and line-height /*14*/
// on xs screen price tags don't have transform ability /*15*/
// on xs screen header img must be placed & positioned correctly /*16*/
@media screen and(max-width: 767px) {
  .carousel-para-text {
    font-size: 20px;    /*9*/
    line-height: 35px;  /*9*/
  }
  .carousel-inner {

  img {
      height: 130px;  /*10*/
      width: 130px;   /*10*/
    }
  }

  .bg-img-outline-app {

    .sections-heading-and-intro-text {

      h2 {
        font-size: 35px;   /*11*/
        line-height: 53px; /*11*/
        margin: 0 10px;    /*12*/
      }
    }
  }
  .main-heading-and-info-text {

    h1 {
      font-size: 40px;   /*13*/
      line-height: 40px; /*13*/
    }
  }

  .sections-heading-and-intro-text {

    h2 { 
      font-size: 35px;   /*14*/
      line-height: 50px; /*14*/
    }
  }
  .container-pricing {

    &:hover {
      -webkit-transform: translate(0, 0); /*15*/
         -moz-transform: translate(0, 0); /*15*/
          -ms-transform: translate(0, 0); /*15*/
           -o-transform: translate(0, 0); /*15*/
              transform: translate(0, 0); /*15*/
    }
  }
  .iphones-over-header-img {
    margin-top: -100px;/*16*/
    bottom: -140px; /*16*/
  }
}
// on sm screen lower the width of input in form /*17*/
//on sm screen header img must be placed & positioned correctly /*18*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .form-inline .form-group .form-control  {
    width: 90%; /*17*/
  }
  .iphones-over-header-img {
    margin-top: -480px;/*18*/
    bottom: -480px;/*18*/
  }
}
// on 512px screen divs in benefits must be placed & positioned correctly /*19*/
@media screen and (min-width: 481px) and (max-width: 512px) {
  #style-i-on-xs {
    margin-top: 14px; /*19*/  
  }
}
// on xxs (<= 480px) clients images need to be aligned with above header img /*20*/
@media screen and (max-width: 479px) {
  
}